@charset "UTF-8";

html *{
    box-sizing: border-box;
}

#unity-canvas{
    width: auto;
    height: 100%;
    background: #231F20;
}

@media (max-width: 767px) {
    #unity-canvas{
        height: 100%;
        width: auto;
    }
}