@charset "UTF-8";

html *{
    box-sizing: border-box;
}

body{
    text-align: center;
    background-image: url(../images/background.jpg);
}

#unity-canvas{
    width: 100%;
    height: auto;
    background: #231F20;
}